.para::first-letter{
    font-size: 60px;
    color: red;
}
.para::first-letter{
    font-weight: bold;
}
.name::after{
    content: "yadav ";
    color: blue;

    
}
.name::before{
    content:"mr.";
    color: green;
}
input::placeholder{
    color: red;
}